<div style="text-align: center;">

    Dans le cadre d'une première phase, le candidat aura pour objectif de détecter une antenne sur une image satellite. Sur une image, il peut y avoir plusieurs antennes.
    Le candidat est libre d'utiliser toute méthode qui semble lui convenir pour résoudre cette phase. Il lui est toutefois conseillé d'utiliser des méthodes de Transfert Learning.</br>
    

    Les modèles de détection d'objets utilise une bounding box pour localiser un objet. Dans le dataset qui est proposé au candidat, les bounding box sont locallisées par les coordonnées xmin, ymin, xmax et ymax. Voici un shéma illustrant ce concept :
    

    <img src="https://storage.googleapis.com/orange-massalia/images/bbox.png" alt="guide 3" style="float:left;" width="500"></br>

    Afin d'évaluer le candidat, il est demandé un fichier CSV contenant les prédictions réalisées par le modèle utilisé par le candidat. Les modalités d'évaluation sont expliquées plus précisement dans l'onglet "Evaluation".
    
</div>