<img src="https://i.ibb.co/hLsdK6L/image.png" alt="challenge photo" width="1000">
<p>Ce challenge est un événement organisé par Orange France en partenariat avec les universités de Aix-Marseille et DataSud.</p>
<img src="https://brand.orange.com/media/4730298/page-19-fig-1-_-orange-core-logo-animated-behaviors.gif"
alt="orange logo" width="100" height="100" style="float:left;">
<img src="https://i.ibb.co/H4KNVGr/aix.png" alt="Aix Marseille universités logo" style="float:left;">
<img src="https://i.ibb.co/jVdj1Bs/datasud.png" alt="Datasud logo" width="320" style="float:left;">
