<p><b>Ce rallye est pour le moment en construction mais ouvrira bientôt ses portes !</b></p><br>

<img src="https://i.ibb.co/frYYZ6d/bg-challenge.png" alt="challenge photo" width="100%">
<img src="https://i.ibb.co/6gVvTDv/30-5-1.png" alt="infographie challenge" width="100%">
<p>Ce challenge est un événement organisé par Orange France en partenariat avec les universités d'Aix-Marseille.</p>

<div style="text-align: center;">
    <img src="https://brand.orange.com/media/4730298/page-19-fig-1-_-orange-core-logo-animated-behaviors.gif"
    alt="orange logo" width="100" height="100">
    <img src="https://i.ibb.co/H4KNVGr/aix.png" alt="Aix Marseille universités logo">    
</div>

<h2>Guide d'inscription</h2>

<h3>S'inscrire sur la plateforme evalai</h3>
    <p>Accédez à 'url <a href="https://eval.ai/auth/signup">https://eval.ai/auth/signup</a> et inscrivez-vous en remplissant vos informations d'identification (ou connectez-vous si vous &ecirc;tes déj&agrave; inscrit).</p>
    <img src="https://i.ibb.co/zPQz8NN/guide1.png" alt="guide 1" width="500">

    <p>Après votre inscription, vous serez redirigé sur la page du tableau de bord.</p>
    <img src="https://i.ibb.co/wBrnTJ1/guide2.png" alt="guide 2" width="500">

<h3>Accéder au défi</h3>
    <p>Après avoir lu les instructions du défi dans l'onglet "Evaluation", vous pouvez participer au défi en cliquant sur l'onglet "Participer".</p>
    <img src="https://i.ibb.co/4WZnt7h/guide3.png" alt="guide 3" width="500">


<h3>Trouver une équipe</h3>
    <p>Créer une équipe s'il n'y en a pas ou vous pouvez choisir parmi celles existantes.</p>
    <img src="https://i.ibb.co/v1ktBhZ/guide4.png" alt="guide 2" width="500">
    <p>Cliquez sur le bouton 'Participer' après avoir sélectionné une équipe.</p>


<p>Click on the image to download it:<p>
<a href="aix.png" download>
    <img src="aix.png" alt="aix" width="104" height="142">
</a>