<p><b>Ce rallye est pour le moment en construction mais ouvrira bientôt ses portes !</b></p><br>

<!-- <img src="https://storage.googleapis.com/orange-massalia/images/bg.png" alt="challenge photo" width="100%"><br><br>

<img src="https://storage.googleapis.com/orange-massalia/images/30_5_1.png" alt="infographie rallye" width="100%">
<p>Ce concours est un événement organisé par Orange France en partenariat avec les universités d'Aix-Marseille.</p>

<div style="text-align: center;">
    <img src="https://brand.orange.com/media/4730298/page-19-fig-1-_-orange-core-logo-animated-behaviors.gif"
    alt="orange logo" width="100" height="100" style="float:left;">
    <img src="https://storage.googleapis.com/orange-massalia/images/aix.png" alt="Aix Marseille universités logo" style="float:left;">    
</div>
<br><br> -->


<div style="text-align: center;">
    <div style="float:left;margin-right:5px;">
        <img src="https://storage.googleapis.com/orange-massalia/images/bg.png" width="50%"  />
    </div>
    <div style="float:left;margin-right:5px;">
        <div style="text-align: center;">
            <img src="https://storage.googleapis.com/orange-massalia/images/30_5_1.png" width="50%" />
        </div>
        <div style="text-align: center;">
            <img src="https://brand.orange.com/media/4730298/page-19-fig-1-_-orange-core-logo-animated-behaviors.gif"
            alt="orange logo" width="100" height="100" style="float:left;">
            <img src="https://storage.googleapis.com/orange-massalia/images/aix.png" alt="Aix Marseille universités logo" style="float:left;">    
        </div>
    </div>
</div>

<div style="height:10px"></div>
<hr>
<div style="height:10px"></div>



<div style="text-align: center;">
    <h3 style="text-align:center">Description de la compétition</h3>
    Dans le cadre de la transition écologique actuelle, Orange s'est fixé plusieurs objectifs :
    <ul>
        <li>
            Pour 2025 : réduire de <span style="color:#ff7f00";><b>30%</b></span> les émissions de CO2 et augmenter de 50% la production d'énergie d'origine renouvelable.
        </li>
        <li>
            Pour 2040 : Devenir <span style="color:#ff7f00";><b>Net Zéro Carbone</b></span>.
        </li>
    </ul>
    Dans ce contexte, il est dans l'intérêt d'Orange de rendre plus verte la production d'énergie au niveau des sites mobiles de toute la France. </br>
    Pour cela, il faut localiser les sites mobiles Orange sur toute la France et déterminer si le site est <span style="color:#ff7f00";><b>solarisable</b></span> (=possibilité d'installer des panneaux solaires).</br>
    La compétition proposée vise dans un premier temps à détecter différents objets sur une image satellite et dans un second temps de décider si le site mobile est solarisable.</br>
</div>


<div style="text-align: center;">
    <h4>Description des données mises à disposition du candidat</h4>

    Les données mises à disposition au candidat se composent de  <span style="color:#ff7f00";><b>1200 images satellites</b></span> des sites mobiles Orange et des annotations correspondantes aux bounding box locallisants les antennes.
    Les images satellites sont au format PNG et les annotations au format CSV.</br>
    Les images labellisées ont été sélectionné sur toute la France, il y a donc une grande variété d'environnement et de forme d'antennes.</br> 

    <img src="https://storage.googleapis.com/orange-massalia/images/example_bbox.PNG" alt="guide 3" style="float:left;" width="300"></br>
    

    Les données sont téléchargeables à l'aide de ce lien : <b><a href="https://storage.googleapis.com/orange-massalia/images/test50.zip">DATASET</a></b></br>

</div>



<div style="text-align: center;">
    <h4>Phase 1 : Détection d'antennes sur des images satellites</h4>

    Dans le cadre d'une première phase, le candidat aura pour objectif de <span style="color:#ff7f00";><b>détecter une antenne sur une image satellite</b></span>. Sur une image, il peut y avoir plusieurs antennes.
    Le candidat est libre d'utiliser toute méthode qui semble lui convenir pour résoudre cette phase. Il lui est toutefois conseillé d'utiliser des méthodes de Transfert Learning.</br>
    

    Les modèles de détection d'objets utilise une <span style="color:#ff7f00";><b>bounding box</b></span> pour localiser un objet. Dans le dataset qui est proposé au candidat, les bounding box sont locallisées par les coordonnées xmin, ymin, xmax et ymax. Voici un shéma illustrant ce concept :
    

    <img src="https://storage.googleapis.com/orange-massalia/images/bbox.png" alt="guide 3" style="float:left;" width="500"></br>

    Afin d'évaluer le candidat, il est demandé un fichier CSV contenant les prédictions réalisées par le modèle utilisé par le candidat. Les modalités d'évaluation sont expliquées plus précisement dans l'onglet "Evaluation".
    
</div>



<div style="height:10px"></div>
<hr>
<div style="height:10px"></div>





<h3 style="text-align:center">Guide d'inscription du participant</h3>
<ol>
    <h4><li>S'inscrire sur la plateforme evalai</li></h4>
    <p>Accédez à l'url <a href="https://eval.ai/auth/signup">https://eval.ai/auth/signup</a> et inscrivez-vous en remplissant vos informations d'identification (ou connectez-vous si vous &ecirc;tes déj&agrave; inscrit).</p>
    <img src="https://storage.googleapis.com/orange-massalia/images/guide1.png" alt="guide 1" style="float:left;" width="500">
    <p>Après votre inscription, vous serez redirigé sur la page du tableau de bord.</p>
    <img src="https://storage.googleapis.com/orange-massalia/images/guide2.png" alt="guide 2" style="float:left;" width="500">
    <br>
    <h4><li>Accéder au défi</li></h4>
    <p>Après avoir lu les instructions du défi dans l'onglet "Evaluation", vous pouvez y participer en cliquant sur l'onglet "Participer".</p>
    <img src="https://storage.googleapis.com/orange-massalia/images/guide3.png" alt="guide 3" style="float:left;" width="500">
    <br>
    <h4><li>Trouver une équipe</li></h4>
    <p>Afin de rejoindre votre équipe, synchronisez-vous avec votre référent école pour savoir quelle équipe rejoindre.</p>
    <p>Voici un tableau des référents par école : </p>
    <table>
        <tbody>
            <tr>
                <td>AMU</td>
                <td>Mme XXX</td>
            </tr>
          <tr>
                <td>Simplon</td>
                <td>M. XXX</td>
            </tr>
          <tr>
                <td>...</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>

    <p><i><b>A venir</b></i></p>
    <p>Une fois cela fait, créez votre équipe si elle n'existe pas encore sur la plateforme ou choisissez-en une parmi celles existantes.</p>
    <img src="https://storage.googleapis.com/orange-massalia/images/guide4.png" alt="guide 2" style="float:left;" width="500">
    <p>Cliquez sur le bouton 'Participer' après avoir sélectionné une équipe.</p>
</ol>

Félicitations, vous êtes inscrits au rallye !
Vous pouvez maintenant vous rendre sur l'onglet "Evalutation" ou cliquez ici <a href="https://eval.ai/web/challenges/challenge-page/1061/evaluation">Évaluation</a> afin de lire la présentation du sujet ainsi que le règlement.




