<div style="text-align: center;">
    L'évaluation du challenge est divisée en deux phases : phase de <b>Développement</b> et phase de <b>Test</b>. </br></br>
    Durant la phase de développement, le candidat aura à disposition les données d'entrainements. Cette phase permet au candidat de faire toute la partie d'analyse et de modélisation. </br>
    Une fois la phase de développement terminée, la phase de test débutera. Un dataset d'images de test lui sera fourni afin qu'il réalise ses prédictions sur ces données. Le classement final se reposera sur le score obtenu lors de la phase de test.
    </br></br>
    Pour soumettre ses résultats, le candidat doit sélectionner la phase correspondante au travail réalisé, 
    le moyen de déposer le fichier et s'il veut que sa submission soit publique ou privée. 
    Une fois soumis, le fichier des prédictions peut être considéré comme invalide s'il ne respecte pas le format explicité dans l'onglet évaluation. C'est à la charge du candidat de coller au format requis.
</div>