<div style="text-align: center;">
    <h4>SOUMISSION</h4>

    Dans le cadre d'une seconde phase, le candidat aura pour objectif de détecter les obstacles environnant le site mobile sur une image satellite. Dans ce contexte, il sera demandé au candidat de détecter les abres et les batiments qui sont les principaux obstacles dans l'environnement d'une antenne.</br>
    Le candidat est libre d'utiliser toute méthode qui semble lui convenir pour résoudre cette phase. Il lui est toutefois conseillé d'utiliser des méthodes de Transfert Learning.</br>
    

</div>